/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  color: #444;
  background-color: #efefef;
  font: 14px Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: rgb(0, 196, 255); text-decoration: none; }
a:visited { color: rgb(0, 196, 255); }
a:hover   { color: red;  }

/*****************************************************************************/
/*
/* Custom
/*
/*****************************************************************************/

h1 {
	font-size: 24px; 
}

p { 
	font-size: 18px; 
}


@media all and (max-width: 480px){
	.home {
		position: relative;
		padding: 20px;
	}
}

@media all and (min-width: 481px){
	.home {
		position: relative;
		width: 480px;
		height: 600px;
		margin: 80px auto 0 auto;
	}
}